# Se excluye la carpeta .idea que genera el pycharm
.idea/

# Se excluyen los ficheros "compilados" de python
*.pyc

# Se excluyen migraciones.
00*.py

# Se excluye el subir la base de datos con cada commit
*.sqlite3
db.sqlite3
