{% extends "base.html" %}
{% block contenido %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Deleting <em>"{{ object }}"</em></strong>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">{% csrf_token %}
                                <p>Are you sure that you want to delte the element: <strong>"{{ object }}"</strong>?</p>
                                <input type="submit" class="btn btn-danger" value="Continue" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}