{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span class="fa fa-check-circle"><strong> {{ message }}</strong></span>
            </div>
        {% elif message.tags == "error" %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span class="fa fa-exclamation-triangle"><strong> {{ message }}</strong></span>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}