{% extends "base.html" %}
{% load static %}
{% block contenido %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">List of organizations</strong>
                        </div>
                        <div class="card-body">
                            {% include "messages.html" %}
                            <div align="center">
                                <a class="btn btn-success" href="{% url 'create-organization' %}">
                                    <span class="fa fa-plus"></span> Create a new organization
                                </a>
                            </div>
                            <br>
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Organization</th>
                                        <th>Country</th>
                                        <th>Description</th>
                                        <th>President</th>
                                        <th>Presindet's email</th>
                                        <th>President's phone</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for organization in organizations %}
                                        <tr>
                                            <td>{{ organization.name }}</td>
                                            <td>
                                                <ul class="list-group-item">
                                                    {% for c in organization.country %}
                                                        <li>{{ c.name }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td>{{ organization.description }}</td>
                                            <td>{{ organization.president }}</td>
                                            <td>{{ organization.president_email }}</td>
                                            <td>
                                                {% if not organization.president_phone %}
                                                    <span style="font-weight:bolder; color: #0e90d2">Not specified</span>
                                                {% else %}
                                                    {{ organization.president_phone }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" title="Delete organization" href={% url 'delete-organization' pk=organization.pk %}>
                                                    <span class="fa fa-close"></span>
                                                </a>
                                                <a class="btn btn-info btn-sm" title="Update organization" href={% url 'update-organization' pk=organization.pk %}>
                                                    <span class="fa fa-edit"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

    <script>
        $(document).ready(function(){
           $("#datatable").DataTable();
        });
    </script>
{% endblock %}
