{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block contenido %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">List of users</strong>
                        </div>
                        <div class="card-body">
                            {% include "messages.html" %}
                            <div align="center">
                                <a class="btn btn-success" href="{% url 'create-user' %}">
                                    <span class="fa fa-plus"></span> Create a new user
                                </a>
                            </div>
                            <br>
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>City</th>
                                        <th>Country</th>
                                        <th>Birthdate</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in object_list %}
                                        <tr>
                                            <td>{{ user.firstname }}</td>
                                            <td>{{ user.lastname }}</td>
                                            <td>{{ user.residence }}</td>
                                            <td>
                                            {% for c in user.country %}
                                                {{ c.name }}
                                            {% endfor %}
                                            </td>
                                            <td>{{ user.birthdate }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.phone }}</td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" title="Delete user" href={% url 'delete-user' pk=user.id %}>
                                                    <span class="fa fa-close"></span>
                                                </a>
                                                <a class="btn btn-info btn-sm" title="Update user" href={% url 'update-user' pk=user.id %}>
                                                    <span class="fa fa-edit"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
    <script>
        $(document).ready(function() {
            $("#datatable").DataTable();
        });
    </script>
{% endblock %}