{% load bootstrap3 %}
{% load static %}
<link rel="stylesheet" href="{% static "management/vendors/login/bootstrapLogin.min.css" %}">
<script src="{% static "management/vendors/login/bootstrapLogin.min.js" %}"></script>
<script src="{% static "management/vendors/jquery-3.3.1.js" %}"></script>
<body style="background-image:url({% static "home/images/background_image.jpg" %}); background-size: auto;"></body>
<div class="row">
    <center><h2><em>Bienvenido al área de administración de JENF</em></h2></center>
    <br>
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sign In</h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            {% bootstrap_field form.username class="form-control" size="small" %}
                        </div>
                        <div class="form-group">
                            {% bootstrap_field form.password class="form-control"%}
                        </div>
                        <button type="submit" class="btn btn-success btn-sm">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>